/* link blocks */

#article-container .flink .flink-list>.flink-list-item {
    width: calc(100% - 45px);
}

@media screen and (max-width: 1024px) {
    #article-container .flink .flink-list>.flink-list-item {
        width: calc(100% - 45px) !important;
    }
}

@media screen and (max-width: 600px) {
    #article-container .flink .flink-list>.flink-list-item {
        width: calc(100% - 45px) !important;
    }
}

#article-container .flink .flink-list>.flink-list-item:hover img {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
}

#article-container .flink .flink-list>.flink-list-item {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
}

#article-container .flink .flink-list>.flink-list-item a .flink-item-name,
#article-container .flink .flink-list>.flink-list-item a .flink-item-desc {
    color: black;
    transition: color 0.3s ease-out;
}

#article-container .flink .flink-list>.flink-list-item:hover a .flink-item-name,
#article-container .flink .flink-list>.flink-list-item:hover a .flink-item-desc {
    color: white;
}

#article-container .flink .flink-list>.flink-list-item {
    background: white;
    transition: background-color 0.3s ease-out;
}

#article-container .flink .flink-list>.flink-list-item:hover {
    background: var(--btn-bg);
}


/* code blocks */

td.code {
    tab-size: 4;
}


/* quote block */

blockquote>p {
    font-family: "Noto Sans SC";
    font-weight: normal;
    font-style: normal;
}


/* font */

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/KiritaniAyaka/Static/blog/font/JetBrainsMono-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/KiritaniAyaka/Static/blog/font/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}